{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Warnain</title>
</head>
<body>

<h3>SCAN HERE</h3>
<canvas id="qr"></canvas>
<script src="{% static 'js/qrious.min.js' %}"></script>
<script>
   (function() {
        var qr = new QRious({
          element: document.getElementById('qr'),
          value: '{{ ip }}:{{ port }}',
          level: 'H',
          padding: 50,
          size: 500,
        });
      })();
</script>

</body>
</html>
